torch==1.13.1
-e git+https://github.com/hmmlearn/hmmlearn.git#egg=hmmlearn
numpy
matplotlib
rx
scipy
sounddevice
einops
tqdm
pandas
torchvision
torchaudio
pyannote.audio
pyannote.core
pyannote.database
pyannote.metrics
optuna
websocket-server
websocket-client
rich
